/* Algemeen */
* {
    /* Zorgt ervoor dat de padding en border bij de breedte horen */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* Scrollen in html element-gaat smooth */
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    scrollbar-gutter: stable;
}

:root {
    /* 'Lees meer'-knop */
    .MeerNieuws-ad {
        text-decoration: none;
        border: 1px solid transparent;

        &:hover {
            outline: 2px solid var(--primary-color);
        }
        &:active{
            outline-offset: 0;
            border: 1px solid var(--primary-color);
        }
        &:focus {
           background: var(--primary-lighter-color);
           color: var(--primary-color);
           outline-offset: 0;
        }
    }
}

/* Nieuws artikelen filter */
.news-articles-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--primary-lighter-color);
    padding: 1em;
    gap: 1em;
    text-transform: uppercase;
}

input {
    appearance: none;
    margin: 0;
    padding: 0;
}

label {
    background-color:transparent;
    padding: 0.5em;
    border-radius: 5px;
}

label:has(input[type="radio"]:checked) {
    color:var(--primary-color);
    background-color: var(--primary-lighter-color);
    padding: 0.5em;
    border-radius: 5px;
}

body:has(input[value="all"]:checked) {
    .all {
        display: block;
    }
}

body:has(input[value="latest-news"]:checked) {
    .latest-news {
        display: block;
    }
}

body:has(input[value="ad-talent"]:checked) {
    .ad-talent {
        display: block;
    }
}

body:has(input[value="ad-courses"]:checked) {
    .ad-courses {
        display: block;
    }
}

/* Nieuws artikelen */
ul {
    padding: 1.5em;
    display: grid;
    list-style-type: none;
    /* gap: 1.5em; */
    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }

    & article {
        display: none;
        border: 3px solid var(--primary-color);
        border-radius: 5px;
        box-shadow: 4px 4px 7px rgba(121, 121, 121, 0.459);

        @media (min-width: 600px) {
            margin: 1em;
        }

        & img {
            width: 100%;
            height: 15em;
            object-fit: cover;
            object-position: top;
        }

        & .text-and-button-inside-article {
            display: grid;
            padding: 1em;
            gap: 0.5em;

            & p {
                display: -webkit-box;
                overflow: hidden;
                line-clamp: 4;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;

                @media (min-width: 600px) {
                    -webkit-line-clamp: 3;
                }
            } 

            & .MeerNieuws-ad {
                margin-top: 1em;
                width: fit-content;
                justify-self: center;
            }
        }
    }
}
/* .active {
    display: block;
} */