* {
    margin: 0;
}
fieldset {
    display: grid;
    width: fit-content;
    margin: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    border-color: rgb(255, 0, 30);
    border-style: dashed;

    & legend {
        background-color: rgb(20, 119, 0);
        color: aliceblue;
        border-radius: 5px;
        padding: 0.25em;
    }

    & label {
        
        & svg {
            width: 4em;
            fill: rgb(255, 221, 0);
        }
    }
    & input {
        accent-color: green;
    }

}

.label-ad {
    display:grid;
}

.label-ad {
    width: 10%;
}


label span::after {
    content:"*";
    color: red;
}





